@font-face {
  font-family: "PxPlus IBM VGA9";
  src: url("/fonts/PxPlus%20(TrueType%20-%20extended%20charset)/PxPlus_IBM_VGA9.ttf") format("truetype");
}

@font-face {
  font-family: "PxPlus IBM VGA8";
  src: url("/fonts/PxPlus%20(TrueType%20-%20extended%20charset)/PxPlus_IBM_VGA8.ttf") format("truetype");
}
